/* reset CSS begins */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* reset CSS ends */






/* Navbar section starts */
#navbar{
    position:relative;
}
#navbar::before{
    content: "";
    height:100%;
    width:100%;
    background-color: black;
    position: absolute;
    z-index: -1;
    opacity: 0.89; 
}

#navbar{
    align-items: center;
    display: flex;
    height:70%;
    border:2px solid red;
    width: 100%;
    background: rgba(0,0,0,0.3);
}
#navbar img{
    border-radius: 30px;
    margin:6px 20px; 
    height:50px;
    transition: all 1s ease-out .3s;
    transition: all 1s ease-in-out 0.6s;
}
#navbar img:hover{
    border-radius: 60px;
    margin:12px 40px; 
    height:100px;
    max-height: 120px;
    transform: translate(700px);
}
#navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar ul li{
    font-size: 1.6rem;
    list-style: none;
}
#navbar ul li a{
    color:white;
    text-decoration: none;
    padding: 6px 18px;
    font-family: 'Baloo Bhai', cursive;
}
#navbar ul li a:hover{
    border:1px solid rgb(21, 73, 73);
    color:black;
    background-color: white;
    border-radius: 20px;
}
/* Navbar section ends







/* mid section starts */
.mid{
    /* border:3px dotted blue; */
    color:black;
    font-family: 'Berkshire Swash', cursive;
    margin:56px auto;
    height:320px;
    /* position: relative; */
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mid::before{
    display: flex;
    content: "";
    height:100%;
    width:100%;
    background: url('bg2.jpg') no-repeat center center/cover;
    position: absolute;
    z-index: -1;
    opacity: 0.89; 
}
.mid h1{
    padding:12px;
}
.mid p{
    padding: 2px;
}
.mid .btn{
    font-size: 24px;
    height:50px;
    width:160px;
    margin: 10px;
    background-color: orange;
    color:white;
    cursor: pointer;
    border:1px solid lightcoral;
    border-radius: 20px;
    transition: all 1s ease-in .3s;
    
}
.mid .btn:hover{
    font-size: 30px;
    color:orange;
    background-color: white;
    height:70px;
    width:190px;
    border-radius:40px ;
    
}
/* mid section ends */







/* Utility classes starts */
.primaryH{
    font-size: 3.9rem;
}
.secondaryH{
    font-size: 1.9rem;
}
.center{
    text-align: center;
    justify-content: center;
    align-items: center;
}
/* Utility classes ends */







/* service section starts */
h1.primaryH.center{
    margin:20px;
    padding: 80px;
    /* display: block;
    width:100%; */
}
h1.mSERV{
    PADDING:20px;
}
.mSERV{
    font-family: 'Berkshire Swash', cursive;
}
.services{
    display: flex;
}
.services .boxes{
    border: 2px solid goldenrod;
    padding:10px;
    background-color: rgb(216, 228, 228);
    margin:12px 10px;
    height:100%;
    border-radius: 16px;
}
.services .boxes img{
    display: block;
    margin:4px auto;
    height:170px;
    width:200px; 
    transition: all 0.3s ease-in-out 0.6s;
}
.services .boxes img:hover{
    transform: scale(2);
    cursor: pointer;
}
.services .boxes p{
    padding:6px;
}
.services .boxes h2{
    padding:12px;
}
/* service section ends */






/* Clients section starts here */
#mCLI{
    margin-top: 40px;
    height:440px;
    font-family: 'Berkshire Swash', cursive;
    /* border:2px dotted green; */
}
#mCLI::before{
    content:"";
    position:absolute;
    display: flex;
    background: url('bg6.jpg') no-repeat center center/cover;
    z-index: -1;
    opacity: 0.42;
    height:460px;
    width:100%;

}
.cliImg{
    display: flex;
}
div.cliImg img{
    margin:3px 10px;
    height:120px;
}
div.cliImg{
    margin-top: 100px; 
}
/* Clients section ends here */









/* contact section starts here */
#contact{
    font-family: 'Berkshire Swash', cursive;
    position:relative;
}
#contact::before{
    margin-top: 100px;
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    z-index:-1 ;
    opacity:0.44;
    background: url('conLogo1.jpg') no-repeat center center/cover;
}
#contactBox{
    display: flex;
    padding-bottom: 34px;
}
#contactBox input, #contactBox textarea{
    border-radius: 9px;
    font-size: 1.1rem;
    width:100%;
    padding:0.5rem;
}
#contactBox form{
    width:40%;
}
#contactBox label{
    font-size: 1.3rem;

}
#contactBox .btn{
        height:40px;
        width:100px;
        margin: 10px;
        background-color: orange;
        color:white;
        cursor: pointer;
        border:1px solid lightcoral;
        border-radius: 20px;
        /* transition: all 1s ease-in .3s; */
}
.formGroup .file{
    font-family: 'Berkshire Swash', cursive;;
    margin: 10px 0px 10px 30px;
}
/* contact section ends here */

/* Footer section starts here */
footer{
    font-family: 'Berkshire Swash', cursive;
    background: black;
    color:white;
    padding: 9px 20px;
}
/* Footer section ends here */